*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral';
    font-size: 1rem;
}
body {
    background-color: rgb(241, 205, 170);
}
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(212, 124, 56);
    /* padding: 30px; */
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 12px 16px;
     align-items: center;
    /* ? */
    z-index: 1;
    height: 60px;
}
.navig {
    display: flex;
    list-style: none;
    gap: 15px;
}
.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
}
.logo {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.logo img {
    width: 100%;
    height: auto;
}
main{
    margin-top: 60px;
    background-color: rgb(241, 205, 170);
}
.textSquirrel {
    color:  rgb(212, 124, 56);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 61%;
    margin-bottom: 32px;
}
.SquirrelTop {
    width: 100%;
    display: flex;
    justify-content: center;
}
.SquirrelTop img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.5s;
}
/* .SquirrelTop img:active {
    transform: scale(0.98);
    box-shadow: 0 10px 20px rgbA(0, 0, 0, 0.25);
} */
.heroBox {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 18px;
    /* background-image: url(белка\ фото\ пример.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
}
.squirrelFacts {
    background-color: rgb(202, 139, 96);
    padding: 30px;
    border-radius: 20px;
    line-height: 26px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 2px white; */
    /* text-shadow: 2px 3px 0px black; */
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}
.content {
    padding: 30px 16px;
}
.photoRealSquirrels {

}
.SquirrelBrandTitle {

}
.SquirrelBrandText {

}
.BelkaCarTitle {

}
.BelkaCarText {
    
}
.forCompanies {

}