.textSquirrel{
    color: brown;
    text-align: center;
}
.squirrelFacts{

}
.photoRealSquirrels{

}
.SquirrelBrandTitle{

}
.SquirrelBrandText{

}
.BelkaCarTitle{

}
.BelkaCarText{

}
.forCompanies{

}